
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

body{
    min-height: 100vh;
    background:linear-gradient( green,white);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 840px;
    background-color: white;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.175);
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 10px;
    display: flex;
}
.leftside , .rightside{
    width: 50%;
}
.leftside img{
    height: 300px;
    width: 300px;
}
.rightside h1{
    color: green;
    font-size: 40px;
}
.rightside h2{
    color: black;
    margin: 20px auto 10px;
    font-size: 30px;
}
.rightside ul{
    color: black;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
    list-style-type:circle;
    list-style-position: inside;
}
.rightside ul li{
    margin-top: 5px;
}
.rightside a{
    background-color: green;
    border-radius: 100px;
    color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    margin-top: 25px;
    font-size: 20px;
    text-decoration: none;
    outline: none;
}
footer{
   position: absolute;
   margin-bottom: -95vh;
   width: 100%;
   
}
footer p{
   text-align: center;
   padding-top: 10px;
   font-weight: 600;
   font-size: 15px;
}

/* q css*/
 .box{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.175);
    min-height: 350px;
    width: 640px;
    padding: 40px;
 }
 .title{
    border-bottom: 1px solid black;
    color: black;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
    display: flex ;
    justify-content: space-between;
 }
 .header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
 }
 .score-box, .timer-box{
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid black;
 }
 .q-box{
    background-color:green;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;

 }
 .option-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:30px 0 ;
    grid-gap: 15px;
 }
 .option-box span{
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    border: 1px solid black;
    padding: 10px 15px;
    position: relative;
    z-index: 999;
 }
 .footer{
    display: flex ;
    justify-content: space-between;
 }
 .footer button{
    background-color: #ccc;
    color: black;
    border-radius: 5px;
    padding: 7px 15px;
    border: 0;
    outline: none;
    font-size: 17px;
    position: relative;
    z-index: 999;
 }
 .result-box{
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr ;
    grid-row-gap: 15px;
    font-size: 20px;
    text-align: center;
 }
 .result-box *:nth-child(odd){
    text-align: right;
 }
 .result-box span{
    font-weight: 600;
 }
 .winning-box{
   margin-bottom: 30px;
   font-size: 20px;
   text-align: center;
 }
 .winning-box img{
   border-radius: 50%;
 }
 .title button{
   background-color: green;
    border-radius: 50px;
    border: 0;
    text-decoration:none ;
    color: white;
    outline: none;
    padding: 7px 15px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    z-index: 999;
 }
 .button{
    border-top:1px solid black ;
    padding-top: 15px;
    text-align: center;
    display: flex ;
    justify-content: space-between;
 }
 .button a{
    background-color: green;
    border-radius: 50px;
    border: 0;
    text-decoration:none ;
    color: white;
    outline: none;
    padding: 7px 15px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    z-index: 999;
 }
 .go a{
    background-color: green;
    border-radius: 50px;
    border: 0;
    text-decoration:none ;
    color: white;
    text-align: center;
    outline: none;
    padding: 7px 15px;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 999;
 }
 .option-box span.right{
   background-color: green;
   border-color: green;
   color: white;
 }
 .option-box span.wrong{
   background-color: red;
   border-color: red;
   color: white;
 }
 /*q css ends*/


 @media screen and (max-width: 768px){
    .leftside{display: none;
    }
    .container,.box{
        width: 390px;
    }
    .rightside{
        width: 100%;
    }
    .option-box{
        grid-template-columns: 1fr;
    }
    .winning-box img{
      width: 250px;
    }
    
 }