*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}
body{
    background:linear-gradient( green,white);
    background-repeat: no-repeat;
}
.timeline{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
 }
 .timeline::after{
    content: '';
    position: absolute;
    width: 5px;
    background-color: whitesmoke;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.175);
    z-index: 1;
 }
 .cont {
    position: relative;
    width: 50%;
    min-height: 120px;
 }
 .container-left {
    left: 0;
    padding-right: 70px;
    text-align: right;
 }
 .container-right {
    left: 50%;
    padding-left: 70px;
 }
 .content {
    padding: 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
 }
 .content p {
   direction: rtl;
   align-items: right;
 }
 .cont .content::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
    border: medium solid white;
    top: 35px;
 } 
.container-left .content::before {
    right: -10px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}  
.container-right .content::before {
    left: -10px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.image {
    width:90px;
    height:90px;
    position: absolute;
    background-size:cover;
    background-position:center;
    border:solid 5px #ffffff;
    border-radius:50px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 2;
 }
 .container-left .image {
    right: 0;
    margin-right: -45px;
 }
 .container-right .image {
    left: 0;
    margin-left: -45px;
 }
 .content a{
    background-color: green;
    border-radius: 100px;
    color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    margin-top: 25px;
    font-size: 20px;
    text-decoration: none;
    outline: none;
 }
 footer{
    position: absolute;
    margin-bottom: -95vh;
    width: 100%;
    
 }
 footer p{
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 15px;
 }
 @media screen and (max-width: 768px){
    .timeline::after {
        left: 65px;
     }
     .cont {
        width: 100%;
        padding-left: 100px;
        padding-right: 0px;
        margin-top: 30px;
    }
    .container:first-of-type {
       margin-top: 0px;
    }
    .container-right {
       left: 0%;
    }
    .content{
      direction: rtl;
   align-items: right;
    }
    .cont .image {
        left:-10px;
        top: 0px;
        margin-left: 0;
        margin-right: 0;
     }
     .container-left .content::before {
        left: -10px;
        right: auto;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
     }

 }
 